*{
    padding: 0;
    margin :0;
  }
  header{
      color: #fff;
  }
  #conteneur{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 30px;
  }
  
  #crew{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 30px;
  }
  .crew:nth-child(2){
      flex: 1;
      max-width : 50%;
  }
  
  #elt a:hover{
      background: #fff;
      color: black;
  }
  h1 {
      text-align: center;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: normal;
  }
  
  body{
      background: linear-gradient(rgb(22, 65, 255), white);
  }
  a {
      text-decoration: none;
      color:white;
      padding: 10px 10px;
      border: 0px solid transparent;
      transition: 0.2s ease;
  }
  
  table{
      width: 90%;
      margin: auto;
      text-align: justify;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
  }
  p{
      display: flex;
      justify-content: space-between;
  }
  
  footer {
     position:relative;
     bottom:0;  /* on le colle en bas */
     width:100%;
     height:5%;   /* Hauteur du pied de page */
  }