*{
    padding: 0;
    margin :0;
}
body{
    background-color: rgb(102, 75, 197);
}
  /*tête */
header{
    color: #fff;
}
#conteneur{
   list-style: none;
    float: right;
    display: flex;
    margin-top: 20px;
}
#elt a{
    text-decoration: none;
    color:#fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    margin:10px;
    font-weight: 500;
    transition: 0.6s ease;
}
#elt a:hover{
    background: #fff;
    color: black;
}
  /*menu*/
#menu{
   /* padding:0;
    margin:0;
    list-style:none;
    text-align: center;
    width: 180px;*/
    
    top : 900 px;
    /*width: 400 px;
    height: 160px;*/
    padding: auto;
    list-style: none;
}
#menu ul {
    /*padding:0;
    margin:0;*/
    list-style:none;
    text-align: center;
}
#menu li {
     background-color:#729EBF; 
     background-image:-webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
     background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
     border-radius: 6px;
     margin-bottom:2px;
     box-shadow: 3px 3px 3px #999;
     border:solid 1px  rgb(102, 75, 197)
}
#menu li li {
     max-height:0;
     overflow: hidden;
     transition: all .5s;
     border-radius:0;
     background: #444;
     box-shadow: none;
     border:none;
     margin:0
}
#menu a {
    display:block;
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
    font-family: verdana;
    font-size:1.2em
}
#menu ul li a, #menu li:hover li a {
    font-size:1em
}
#menu  li:hover {
     background: #b972bf
}
#menu li li:hover {
     background: #999;
}
#menu ul li:last-child {
     border-radius: 0 0 6px 6px;
     border:none;
}
#menu li:hover li {
    max-height: 15em;
}
